/*signin*/
html { margin: 0px; padding: 0px; height: 100%; }
body { font-family: Arial; color: black; font-size: 10pt; margin: 0px; padding: 0px; }
div { padding: 0px; margin: 0px; border: none; }
p { padding: 2px; margin: 0px; }
.pipe { color: white; float: left; }
.navBox { float: none; clear: left; }
.navList { font-size: 18px; color: #58595b; list-style-image: url(../images/bullet.png); }
.navList li { margin-top: 13px; }
.moreDetail { font-size: 12pt; }
.feedback { margin-top: 20px; font-family: Myriad Pro, arial; font-size: 12pt; width: 900px; }
.navButton { color: white; font-weight: normal; text-decoration: none; cursor: pointer; }
.navButton:hover { text-decoration: underline; }
.error { color: red; margin: 0; }
.aCircle { border: 0px; width: 100px; height: 100px; border-radius: 50px; background-color: #0057C1; position: relative; margin-left: auto; margin-right: auto }
.aCircle2 { border: 0px; width: 140px; height: 140px; border-radius: 70px; background-color: white; position: relative; margin-left: 40px; margin-right: 40px; }
.aImage { border: 0px; margin: 0px; position: absolute; top: 50%; transform: translate(0, -50%); left: 0; margin-left: auto; right: 0; margin-right: auto; }
.aFeature { border: 0px; width: 100px; color: #494848; margin-top: 10px; text-align: center; font-weight: bold; font-size: 12pt; }
.aFeature2 { border: 0px; width: 140px; color: white; margin-top: 10px; margin-left: 40px; margin-right: 40px; text-align: center; font-weight: bold; font-size: 12pt; }
.sectionHeader { margin: 30px 0px 40px 0px; color: #005CBC; font-size: 24pt; font-style: italic; font-weight: normal; }
.sectionHeader2 { margin-top: 30px; margin-bottom: 40px; color: #005CBC; font-size: 24pt; font-style: italic; font-weight: normal; border-radius: 5px; background-color: #FFFFFF; padding: 5px; }
.rcorners1 { border-radius: 5px; background: white; height: 300px; }
.priceHead { border-top-left-radius: 5px; border-top-right-radius: 5px; color: #0056C1; background: #EEEEEE; padding: 10px 0px 10px 0px; text-align: center; font-size: 12pt; font-weight: bold; line-height: normal }
.button { -moz-box-shadow: inset -1px 1px 0px 0px #54a3f7; -webkit-box-shadow: inset -1px 1px 0px 0px #54a3f7; box-shadow: inset -1px 1px 0px 0px #54a3f7; background-color: #0057c1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #0057c1; display: inline-block; cursor: pointer; color: #ffffff; font-family: Arial; font-size: 18px; padding: 10px 24px; text-decoration: none; text-shadow: 0px 1px 0px #154682; color: #fff }
.button:hover, .button:focus { background-color: #0068de; color: #fff }
.button:active { position: relative; top: 1px; }
.greybutton, .btn.close { -moz-box-shadow: inset -1px 1px 0px 0px #a3a3a3; -webkit-box-shadow: inset -1px 1px 0px 0px #a3a3a3; box-shadow: inset -1px 1px 0px 0px #a3a3a3; background-color: #696969; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #696969; display: inline-block; cursor: pointer; color: #ffffff; font-family: Arial; font-size: 18px; padding: 10px 24px; text-decoration: none; text-shadow: 0px 1px 0px #154682; margin-left: 15px }
.greybutton:hover, .btn.close:hover { background-color: #787878; }
.editBox { z-index: 10; height: auto; width: 400px; border-style: solid; border-width: 5px; border-color: #C3D9FF; background-color: #E8EEF7; position: absolute; top: 100px; left: 10px; }
#editBackground { z-index: 9; background: #E8EEF7; opacity: .5; position: absolute; height: 100%; width: 100%; top: 0; left: 0; display: none; }
#msgBackground { z-index: 29; background: #E8EEF7; opacity: .5; position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: none; }
div#load { display: none; position: absolute; z-index: 50; height: 55px; width: 200px; border-style: solid; border-width: 5px; border-color: #C3D9FF; background-color: #E8EEF7; font-size: 20pt; color: blue; text-align: center; }
.load_background { z-index: 49; background: #E8EEF7; opacity: .5; position: absolute; top: 0; margin: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); }
.editBoxRow { display: table; table-layout: fixed; width: 100%; height: 100%; }
.editBoxRow div { display: table-cell; }
.editBoxRow.alertContainer { height: 55px; background-color: #FFC7CE; vertical-align: middle; display: none; }
.editBoxRow .alertImage { padding : 10px 10px 10px 10px; width: 40px; }
.editBoxRow .alertMessage { padding : 10px 10px 10px 0px; vertical-align: middle; font-weight: bold; font-size: 14px; color: #cc0717; line-height: normal }
.modalDialog { position: fixed; font-family: Arial, Helvetica, sans-serif; top: 0; right: 0; bottom: 0; left: 0; background: rgba(232,238,247,0.5); z-index: 99999; opacity: 0; -webkit-transition: opacity 400ms ease-in; -moz-transition: opacity 400ms ease-in; transition: opacity 400ms ease-in; pointer-events: none; }
.modalDialog:target { opacity: 1; pointer-events: auto; }
.modalDialog > div { width: 700px; position: relative; margin: 10% auto; padding: 10px; border-radius: 10px; background-color: #E8EEF7; }
.close { background: #606061; color: #FFFFFF; line-height: 25px; position: absolute; right: -12px; text-align: center; top: -10px; width: 24px; text-decoration: none; font-weight: bold; -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; -moz-box-shadow: 1px 1px 3px #000; -webkit-box-shadow: 1px 1px 3px #000; box-shadow: 1px 1px 3px #000; }
.close:hover { background: #00d9ff; }
/*signin*/
a:hover { text-decoration: none }
.btn-primary { -moz-box-shadow: inset -1px 1px 0px 0px #54a3f7; -webkit-box-shadow: inset -1px 1px 0px 0px #54a3f7; box-shadow: inset -1px 1px 0px 0px #54a3f7; background-color: #0057c1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #0057c1; }
.dropdown-menu { border: 2px solid #0057c1; padding: 4px; border-radius: 3px; }
.text-bold { font-weight: 600 }
.bg-theme { background-color: #0057C1; color: #fff }
.color-theme { color: #0057c1; }
.text-white { color: #fff }
.text-transparent { color: transparent }
.text-transparent:hover { color: #286090 }
.padding-tb-40 { padding-top: 40px; padding-bottom: 40px; }
.full-section { float: left; width: 100%; }
.full-width { width: 100% }
.width-auto { width: auto }
.border-2 { border-width: 2px }
.border-theme { border-color: #0057C1 }
.bg-white { background-color: #FFF; color: #0057C1 }
.m-0 { margin: 0 0 }
.mt-0 { margin-top: 0 }
.mr-0 { margin-right: 0 }
.mb-0 { margin-bottom: 0 }
.ml-0 { margin-left: 0 }
.mx-0 { margin-right: 0; margin-left: 0 }
.my-0 { margin-top: 0; margin-bottom: 0 }
.m-1 { margin: 0.25rem 0.25rem; }
.mt-1 { margin-top: 0.25rem; }
.mr-1 { margin-right: 0.25rem; }
.mb-1 { margin-bottom: 0.25rem; }
.ml-1 { margin-left: 0.25rem; }
.mx-1 { margin-right: 0.25rem; margin-left: 0.25rem; }
.my-1 { margin-top: 0.25rem; margin-bottom: 0.25rem }
.m-2 { margin: 0.5rem 0.5rem; }
.mt-2 { margin-top: 0.5rem; }
.mr-2 { margin-right: 0.5rem; }
.mb-2 { margin-bottom: 0.5rem; }
.ml-2 { margin-left: 0.5rem; }
.mx-2 { margin-right: 0.5rem; margin-left: 0.5rem; }
.my-2 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.m-3 { margin: 1rem 1rem }
.mt-3 { margin-top: 1rem }
.mr-3 { margin-right: 1rem }
.mb-3 { margin-bottom: 1rem }
.ml-3 { margin-left: 1rem }
.mx-3 { margin-right: 1rem; margin-left: 1rem }
.my-3 { margin-top: 1rem; margin-bottom: 1rem }
.m-4 { margin: 1.5rem 1.5rem }
.mt-4 { margin-top: 1.5rem }
.mr-4 { margin-right: 1.5rem }
.mb-4 { margin-bottom: 1.5rem }
.ml-4 { margin-left: 1.5rem }
.mx-4 { margin-right: 1.5rem; margin-left: 1.5rem }
.my-4 { margin-top: 1.5rem; margin-bottom: 1.5rem }
.m-5 { margin: 3rem 3rem }
.mt-5 { margin-top: 3rem }
.mr-5 { margin-right: 3rem }
.mb-5 { margin-bottom: 3rem }
.ml-5 { margin-left: 3rem }
.mx-5 { margin-right: 3rem; margin-left: 3rem }
.my-5 { margin-top: 3rem; margin-bottom: 3rem }
.p-0 { padding: 0 0!important }
.pt-0 { padding-top: 0!important }
.pr-0 { padding-right: 0!important }
.pb-0 { padding-bottom: 0!important }
.pl-0 { padding-left: 0!important }
.px-0 { padding-right: 0!important; padding-left: 0!important }
.py-0 { padding-top: 0!important; padding-bottom: 0!important }
.p-1 { padding: 0.25rem 0.25rem }
.pt-1 { padding-top: 0.25rem }
.pr-1 { padding-right: 0.25rem }
.pb-1 { padding-bottom: 0.25rem }
.pl-1 { padding-left: 0.25rem }
.px-1 { padding-right: 0.25rem; padding-left: 0.25rem }
.py-1 { padding-top: 0.25rem; padding-bottom: 0.25rem }
.p-2 { padding: 0.5rem 0.5rem }
.pt-2 { padding-top: 0.5rem }
.pr-2 { padding-right: 0.5rem }
.pb-2 { padding-bottom: 0.5rem }
.pl-2 { padding-left: 0.5rem }
.px-2 { padding-right: 0.5rem; padding-left: 0.5rem }
.py-2 { padding-top: 0.5rem; padding-bottom: 0.5rem }
.p-3 { padding: 1rem 1rem }
.pt-3 { padding-top: 1rem }
.pr-3 { padding-right: 1rem }
.pb-3 { padding-bottom: 1rem }
.pl-3 { padding-left: 1rem }
.px-3 { padding-right: 1rem; padding-left: 1rem }
.py-3 { padding-top: 1rem; padding-bottom: 1rem }
.p-4 { padding: 1.5rem 1.5rem }
.pt-4 { padding-top: 1.5rem }
.pr-4 { padding-right: 1.5rem }
.pb-4 { padding-bottom: 1.5rem }
.pl-4 { padding-left: 1.5rem }
.px-4 { padding-right: 1.5rem; padding-left: 1.5rem }
.py-4 { padding-top: 1.5rem; padding-bottom: 1.5rem }
.p-5 { padding: 3rem 3rem }
.pt-5 { padding-top: 3rem }
.pr-5 { padding-right: 3rem }
.pb-5 { padding-bottom: 3rem }
.pl-5 { padding-left: 3rem }
.px-5 { padding-right: 3rem; padding-left: 3rem }
.py-5 { padding-top: 3rem; padding-bottom: 3rem }
.m-auto { margin: auto }
.mt-auto { margin-top: auto }
.mr-auto { margin-right: auto }
.mb-auto { margin-bottom: auto }
.ml-auto { margin-left: auto }
.mx-auto, .img-center { margin-right: auto; margin-left: auto }
.my-auto { margin-top: auto; margin-bottom: auto }
.br-0 { border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; }
.nav>li>a:focus, .nav>li>a:hover { text-decoration: none; background-color: transparent; outline: 0; }
/*header*/
.header { background-color: #DBDFE8; width: 100%; }
.header-container { padding-top: 20px; padding-bottom: 20px; }
.logo-signup { width: 190px; margin-left: 10px; color: #0056c1; font-size: 12pt; font-weight: bold; line-height: normal }
.button.signup { font-size: 12pt; margin-top: 4px; }
.header-form { float: right; color: #0056c1; font-size: 12pt; }
.form-top { margin-left: 20px; color: #0056c1; font-size: 12pt; }
.hf-input { font-size: 12pt; width: 306px; }
.header-form p { line-height: normal; }
.header-form input[type=submit] { line-height: normal; padding: 3px 24px; }
.head-center { padding-top: 2rem; }
.navbar .navbar-nav > li a, .navbar .navbar-nav > li.active a { color: #fff; }
.navbar .navbar-nav > li a { font-size: 16px; line-height: normal; padding-left: 30px; padding-right: 30px; }
nav.navbar { padding-top: 0; padding-bottom: 0; }
.navbar .navbar-nav > li { position: relative; z-index: 0; }
.navbar .navbar-nav > li:last-child:after { width: 0; }
.navbar .navbar-nav > li:after { content: ""; position: absolute; right: 0; top: 0; bottom: 0; background-color: #fff; z-index: 0; width: 1px; }
.loginerr-box { width: 200px }
.head-f-s { width: 105px; text-align: right; }
#loginErrorMsg { font-size: 13px; }
/*banner*/
.site-banner { background-image: url('../images/top-photo3.jpg'); background-size: cover; width: 100%; min-height: 300px; float: left; padding-top: 40px; padding-bottom: 70px; }
.site-banner p.sectionHeader { color: #fff; }
.banner-cat> ul { padding: 0; margin: 0; }
.banner-cat> ul>li { display: inline-block; padding: 0 5px; box-sizing: border-box; vertical-align: top; max-width: 119px; text-align: center; }
.banner-cat> ul>li .aFeature { float: left; width: 100%; }
/*banner */

/*teacher plan*/
.teacher-plan { background-color: #fff; }
/*teacher plan*/

/*teacher gradebook*/
.teacher-gb { background-image: url('../images/gradebook-photo.jpg'); background-size: cover; }
.teacher-gb .sectionHeader2 { color: #FF4E00; display: inline-block; line-height: normal }
.tgb-bg { text-align: center; height: 190px; width: 170px; background-image: url('../images/gradebook-block.png'); background-repeat: no-repeat; background-size: contain; }
.tgb-bg p { padding: 20px; padding-top: 80px; font-size: 11pt; }
.teacher-gb-li li { display: inline-block; vertical-align: top; width: 19.5%; margin-bottom: 40px; }
.ad-tools { background-image: url('../images/admin-photo.jpg'); background-size: cover; width: 100%; }
.ad-tools .sectionHeader2 { color: #5DA500; display: inline-block; line-height: normal }
.ad-tools .tgb-bg { text-align: center; height: 190px; width: 170px; background-image: url('../images/admin-block.png'); background-repeat: no-repeat; background-size: contain; }
.student-tools { background-image: url('../images/students-photo.jpg'); background-size: cover; width: 100%; }
.student-tools .sectionHeader2 { color: #76276B; display: inline-block; line-height: normal }
.student-tlist li { display: inline-block; vertical-align: top; width: 19.5%; margin-bottom: 40px; }
.student-tlist .tgb-bg { text-align: center; height: 190px; width: 170px; background-image: url('../images/students-block.png'); }
.teacher-review { background-color: #fff; }
.teacher-r { text-align: center; height: 250px; width: 305px; background-size: contain; background-repeat: no-repeat; color: white; margin-left: auto; margin-right: auto }
.teacher-r p { padding: 40px; padding-top: 70px; font-size: 11pt; }
.review-auth { padding-left: 180px; font-size: 12pt; color: #3f3f3f; }
.first-review { background-image: url('../images/bubble-green.png'); }
.second-review { background-image: url('../images/bubble-yellow.png'); }
.third-review { background-image: url('../images/bubble-red.png'); }
/*mobile app*/
.mobile-app { background-image: url('../images/apps-photo.jpg'); background-size: cover; }
.avi-tag { font-size: 12pt; color: #3f3f3f; }
.mobile-app a.button { min-width: 290px; line-height: normal; }
.mobile-app a.button:hover { color: #fff; text-decoration: none }
/*pricing */
.pricing-section { background-color: #808185; }
.pricing-section .sectionHeader { color: #fff }
.pricing-section .sectionHeader { color: #fff }
.pricing-tag { padding: 20px; padding-left: 40px; color: white; }
/*video*/
.video-section { background-color: #fff }
/*footer*/
.footer { background-color: #0057C1 }
.footer-img li { display: inline-block; vertical-align: middle; }
.footer-supline li { display: inline-block; color: #fff; position: relative; z-index: 0; padding: 0 10px; }
.footer-supline li:after { content: ""; position: absolute; width: 1px; background-color: #fff; right: -2px; top: 0; bottom: 0; height: 14px; margin-top: auto; margin-bottom: auto; }
.footer-supline li:last-child:after { width: 0px; }
/*popup*/
.editBox { display: none; width: 550px; background-color: #DBDFE8; border: 0; border-radius: 5px; box-shadow: 4px 4px 4px #666666; -webkit-box-shadow: 4px 4px 4px #666666; -moz-box-shadow: 4px 4px 4px #666666; -ms-box-shadow: 4px 4px 4px #666666; position: fixed; line-height: normal; z-index: 99999 }
.popup-heading { text-align: center; font-size: 16pt; color: white; background-color: #0057C1; border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; padding: 20px; }
.editBoxRow { display: none }
.popup-input { height: 48px; max-width: 500px; width: 100%; border-radius: 3px; text-indent: 60px; font-size: 16px; background-repeat: no-repeat; background-position: 15px 10px; }
input.popup-input[type=email] { background-image: url(../images/head.png); }
input.popup-input[type=password] { background-image: url(../images/key.png); }
.popup-btn { width: 240px; }
.button-group { float: left; width: 100%; margin: 20px 0; }
.btn.btn-facebook { background-color: rgb(59, 89, 152); border-color: rgb(59, 89, 152); color: rgb(255, 255, 255); }
.btn.btn-google { background-color: #CF343A; border-color: #CF343A; color: #fff; }
/*signup pages*/
.signup-modals .modal-header { padding: 5px; background-color: #003B81; color: #fff; }
.signup-modals .modal-content { border: 4px solid #003b81; border-radius: 0; border-top: 0; }
.signup-modals .btn { width: 235px; padding-left: 10px; padding-right: 10px; }
.btn.close { position: static; opacity: 1; font-weight: 500 }
.signup-pheader .dropdown-toggle { color: #0057c1; background-color: transparent; border: 0; padding: 1px 5px; box-shadow: none; }
.signup-pheader .btn-primary.active, .signup-pheader .btn-primary:active, .signup-pheader .open>.dropdown-toggle.btn-primary { color: #fff; background-color: #0057c1; }
label input[type="text"] { width: auto; max-width: 50px; }
.class-schedule input[type="radio"] { margin-top: 8px; position: relative; bottom: -2px; }
.selectplan-box { border: 2px solid #0057c1; border-top: 0; padding: 0 0px 20px; margin-bottom: 20px; }
.box-header { background-color: #0055C1; padding: 10px 20px; text-align: center; font-size: 16px; color: #fff; }
.box-content { min-height: 250px; padding: 20px 0 20px; }
.box-content ul { margin: 0; padding-left: 25px; }
.box-content ul li { list-style-type: none; line-height: 26px; }
.selectplan-box .btn { width: auto; padding-left: 15%; padding-right: 15%; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { vertical-align: middle; }
.modal table .checkbox input[type=checkbox], .modal table .checkbox-inline input[type=checkbox] { margin-left: -15px; }
.date-column { max-width: 90px; margin-left: auto; margin-right: auto; }
.signup-pheader .caret { border-top-width: 5px; }
.li-inline li { display: inline-block; vertical-align: middle; }
.h-l-menu li { padding: 0 10px 0 0; }
.h-r-menu li { padding: 0 0 0 10px; }
.header-t-menu .dropdown-toggle { background-color: #0057c1; color: #fff; -moz-box-shadow: inset -1px 1px 0px 0px #54a3f7; -webkit-box-shadow: inset -1px 1px 0px 0px #54a3f7; box-shadow: inset -1px 1px 0px 0px #54a3f7; background-color: #0057c1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #0057c1; }
.h-r-menu .dropdown-menu { right: 0; left: auto; }
.header-t-menu ul.dropdown-menu { min-width: 360px; }
.h-l-menu .dropdown li, .user-drop .dropdown li { padding: 0; width: 32.5%; text-align: center; min-height: 90px; }
.h-l-menu ul.dropdown-menu li a, .h-r-menu ul.dropdown-menu li a, .user-drop .dropdown-menu li a { padding: 10px 15px; }
.h-l-menu ul.dropdown-menu span, .h-r-menu ul.dropdown-menu span, .user-drop .dropdown-menu li span { display: block; }
.h-l-menu ul.dropdown-menu span.add-text, .h-r-menu ul.dropdown-menu span.add-text { white-space: normal; line-height: 15px; }
span.add-ico { min-height: 50px; }
.goto-drop ul.dropdown-menu { min-width: 430px; }
.dropdown.goto-drop li { padding: 0; width: 24.25%; text-align: center; min-height: 80px; }
li.goto-drop span.add-text { font-size: 12px; }
.goto-drop ul.dropdown-menu li a { display: table; text-align: center; min-height: 80px; padding: 11px 0 0; width: 100%; }
.type-view-drop ul.dropdown-menu { min-width: 150px; }
.goto-drop ul.dropdown-menu li a span { display: table-row; }
.user-drop .dropdown-menu { min-width: 340px; }
.user-drop .dropdown-menu li span.add-text { white-space: normal; line-height: 13px; height: 20px; }
/*student dashboard*/
.student-dashboard .user-drop .dropdown-menu { min-width: 0; }
.student-dashboard .user-drop .dropdown li { width: 100px; }
.collepse-minus-open .fa-minus:before { content: "\f067"; }
.dashboard-comment-box table { width: 100%; }
.dashboard-comment-box table tr t.date-column, .dashboard-comment-box table tr td.date-column { max-width: 10px; }
.student-dash tr .date-column { width: 150px; }
.student-dash tr .comment-for { width: 200px; }
.student-dash tr .delete-column { width: 50px; }
span.commentTo { background-color: green; color: #fff; padding: 3px 7px; margin-right: 10px; }
.add-comments i { margin-right: 10px; }
.dashboard-comment-box { display: none }
/*dashboard custom popup */
.popup-custom { position: fixed; top: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,.5); right: 0;/*
 */ display: none }
.popup-content { width: 800px; background-color: #f5f5f5; margin-left: auto; margin-right: auto; margin: auto; min-height: 500px; top: 10%; left: 0; right: 0; position: absolute; margin-top: 0px; border: 4px solid rgb(0,59,129); border-top: 0; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.popup-header { background-color: rgb(0,59,129); color: #fff; font-size: 20px; padding: 7px; }
.popup-body { padding: 30px; }
.popup-content textarea.form-control { min-height: 150px; }
.popup-custom .btn-lg { padding: 9px 25px; font-size: 15px; }
/*dashboard custom popup */

/*classes page*/
.class-numbering { width: 50px; }
.color-column, .color-column { padding: 0 !important; width: 40px; }
.color-column a.class-colors { float: left; height: 35px; width: 40px; cursor: pointer; }
.class-page table { max-width: 70%; }
/*teacher datapopup*/

/*dynamic  data popup*/
.d-render-popoup { position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.5); z-index: 9999; overflow-y: scroll; }
.t-data-popup .header-title { font-size: 2.5rem; line-height: 4rem; }
.t-data-popup .popup-header { padding-top: 3px; padding-bottom: 3px; }
input[type=color].form-control { padding: 0; width: auto; min-width: 40px; }
.d-render-popoup input[type=date] { max-width: 150px; display: inline-block; }
.d-render-popoup .checkbox { display: inline-block; padding-left: 6px; }
.d-render-popoup .radio input[type="radio"] { position: relative; margin-left: 5px; margin-top: 10px; margin-bottom: 0px; margin-right: 10px; top: 2px; }
.d-render-popoup .radio { padding: 0; }
/*dynamic  data popup*/


/*calandar styling*/
.view-title { text-align: center; padding: 5px; background-color: #DBDFE8; margin: 10px 0 0; font-size: 16px; line-height: normal; color: #0057c1; }
.calendar-view li { list-style-type: none; display: inline-block; text-align: center; border-top: 2px solid #0057c1; border-left: 2px solid #0057c1; position: relative; z-index: 0 }
.month-view .weeks-d li { background-color: #0057c1; color: #fff; padding: 0; font-size: 13px; line-height: normal; }
.month-view li { float: left; width: 14.285%; }
.calendar-view .dates { font-size: 11px; background-color: #DBDFE8; line-height: normal; padding: 1px 5px; }
.month-view .calendar-data li:nth-child( 7n+7) { border-right: 2px solid #0057c1; }
.calendar-view.month-view .calendar-data li { max-height: 150px; min-height: 150px; position: relative; z-index: 0 }
.cell-main-data { max-height: 130px; overflow-y: auto; text-align: left; }
.lesson-heading { padding: 3px 5px 3px; }
.sub-lesson .lesson-title { border-top: 1px solid green; padding-left: 2px; font-weight: 600; }
.sub-lesson .sub-lesson-content { padding-left: 7px; }
.cell-main-data .lesson { border: 1px solid green; margin: 4px; }
.calendar-view.month-view .lesson.listing-content li { border: 0; width: 100%; text-align: left; min-height: initial; max-width: initial; padding-left: 6px; }
.cell-main-data .lesson.listing-content { display: inline-block; }
.listing-content .sub-lesson .lesson-title { border-top: 0; }
.form-horizontal .form-group .sp-t { margin-top: 7px; margin-bottom: 7px; }
.col-one label.control-label { text-align: left; }
.lesson-title label.control-label { max-width: 54px; width: initial; margin-right: 4%; }
.tabnav .nav-tabs>li>a { padding: 3px 15px; background-color: #fff; color: #54A3F7; font-size: 13px; }
.tabnav .nav-tabs>li.active>a { background-color: #0057C1; color: #fff; }
.tabnav .tab-content { border: 4px solid #0057C1; background-color: #fff; padding: 10px 10px 10px; }
.file-4-search .search-files-box { width: 95%; }
.file-4-search >* { display: inline-block; }
.file-4-search .icon-dw { width: 4.5%; text-align: center; }
.lesson-attach-m button.btn { min-width: 130px; width: initial; }
.lesson-attach-m .modal-footer { width: 100%; }
.lesson-attach-m button.btn { min-width: 130px; width: initial; float: none; display: inline-block; }
.attaches-pop { display: inline-block; position: relative; z-index: 0; width: initial; }
.attaches-pop input[type="file"] { position: absolute; opacity: 0; top: 0; left: 0; right: 0; bottom: 0; width: auto; max-width: 130px; }
/*last child styling */
.month-view .calendar-data li:nth-last-child(1), .month-view .calendar-data li:nth-last-child(2), .month-view .calendar-data li:nth-last-child(3), .month-view .calendar-data li:nth-last-child(4), .month-view .calendar-data li:nth-last-child(5), .month-view .calendar-data li:nth-last-child(6), .month-view .calendar-data li:nth-last-child(7) { border-bottom: 2px solid #0057c1; }
