html { margin: 0px; padding: 0px; height: 100%; }
body { font-family: Arial; color: black; font-size: 10pt; margin: 0px; padding: 0px; }
div { padding: 0px; margin: 0px; border: none; }
p { padding: 2px; margin: 0px; }
.pipe { color: white; float: left; }
.navBox { float: none; clear: left; }
.navList { margin-left: 50px; width: 700px; font-size: 18px; color: #58595b; list-style-image: url(../images/bullet.png); }
.navList li { margin-top: 13px; }
.moreDetail { font-size: 12pt; }
.feedback { margin-top: 20px; font-family: Myriad Pro, arial; font-size: 12pt; width: 900px; margin-left:auto; margin-right:auto }
.feedback-width{ width:900px; margin-left:auto; margin-right:auto}
.navButton { color: white; font-weight: normal; text-decoration: none; cursor: pointer; }
.navButton:hover { text-decoration: underline; }
.error { color: red; margin: 0; }
.aCircle { border: 0px; width: 100px; height: 100px; border-radius: 50px; background-color: #0057C1; position: relative; }
.aCircle2 { border: 0px; width: 140px; height: 140px; border-radius: 70px; background-color: white; position: relative; margin-left: 40px; margin-right: 40px; }
.aImage { border: 0px; margin: 0px; position: absolute; top: 50%; transform: translate(0, -50%); left: 25%; margin-right: -50%; }
.aFeature { border: 0px; width: 100px; color: #494848; margin-top: 10px; margin-left: 5px; margin-right: 5px; text-align: center; font-weight: bold; font-size: 12pt; }
.aFeature2 { border: 0px; width: 140px; color: white; margin-top: 10px; margin-left: 40px; margin-right: 40px; text-align: center; font-weight: bold; font-size: 12pt; }
.sectionHeader { margin: 30px 0px 40px 0px; color: #005CBC; font-size: 24pt; font-style: italic; font-weight: normal; }
.sectionHeader2 { margin-top: 30px; margin-bottom: 40px; color: #005CBC; font-size: 24pt; font-style: italic; font-weight: normal; border-radius: 5px; background-color: #FFFFFF; padding: 5px; }
.rcorners1 { border-radius: 5px; background: white; width: 230px; height: 300px; margin-right: 23px; margin-left: 23px; }
.priceHead { border-top-left-radius: 5px; border-top-right-radius: 5px; color: #0056C1; background: #EEEEEE; width: 230px; padding: 10px 0px 10px 0px; text-align: center; font-size: 12pt; font-weight: bold; }
.button { -moz-box-shadow: inset -1px 1px 0px 0px #54a3f7; -webkit-box-shadow: inset -1px 1px 0px 0px #54a3f7; box-shadow: inset -1px 1px 0px 0px #54a3f7; background-color: #0057c1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #0057c1; display: inline-block; cursor: pointer; color: #ffffff; font-family: Arial; font-size: 18px; padding: 10px 24px; text-decoration: none; text-shadow: 0px 1px 0px #154682; color: #fff }
.button:hover { background-color: #0068de; }
.button:active { position: relative; top: 1px; }
.greybutton { -moz-box-shadow: inset -1px 1px 0px 0px #a3a3a3; -webkit-box-shadow: inset -1px 1px 0px 0px #a3a3a3; box-shadow: inset -1px 1px 0px 0px #a3a3a3; background-color: #696969; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #696969; display: inline-block; cursor: pointer; color: #ffffff; font-family: Arial; font-size: 18px; padding: 10px 24px; text-decoration: none; text-shadow: 0px 1px 0px #154682; }
.greybutton:hover { background-color: #787878; }
.editBox { z-index: 10; height: auto; width: 400px; border-style: solid; border-width: 5px; border-color: #C3D9FF; background-color: #E8EEF7; position: absolute; top: 100px; left: 10px; }
#editBackground { z-index: 9; background: #E8EEF7; opacity: .5; position: absolute; height: 100%; width: 100%; top: 0; left: 0; display: none; }
#msgBackground { z-index: 29; background: #E8EEF7; opacity: .5; position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: none; }
div#load { display: none; position: absolute; z-index: 50; height: 55px; width: 200px; border-style: solid; border-width: 5px; border-color: #C3D9FF; background-color: #E8EEF7; font-size: 20pt; color: blue; text-align: center; }
.load_background { z-index: 49; background: #E8EEF7; opacity: .5; position: absolute; top: 0; margin: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); }
.editBoxRow { display: table; table-layout: fixed; width: 100%; height: 100%; }
.editBoxRow div { display: table-cell; }
.editBoxRow.alertContainer { height: 55px; background-color: #FFC7CE; vertical-align: middle; display: none; }
.editBoxRow .alertImage { padding : 10px 10px 10px 10px; width: 40px; }
.editBoxRow .alertMessage { padding : 10px 10px 10px 0px; vertical-align: middle; font-weight: bold; font-size: 14px; color: #cc0717; }
.modalDialog { position: fixed; font-family: Arial, Helvetica, sans-serif; top: 0; right: 0; bottom: 0; left: 0; background: rgba(232,238,247,0.5); z-index: 99999; opacity: 0; -webkit-transition: opacity 400ms ease-in; -moz-transition: opacity 400ms ease-in; transition: opacity 400ms ease-in; pointer-events: none; }
.modalDialog:target { opacity: 1; pointer-events: auto; }
.modalDialog > div { width: 700px; position: relative; margin: 10% auto; padding: 10px; border-radius: 10px; background-color: #E8EEF7; }
.close { background: #606061; color: #FFFFFF; line-height: 25px; position: absolute; right: -12px; text-align: center; top: -10px; width: 24px; text-decoration: none; font-weight: bold; -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; -moz-box-shadow: 1px 1px 3px #000; -webkit-box-shadow: 1px 1px 3px #000; box-shadow: 1px 1px 3px #000; }
.close:hover { background: #00d9ff; }
#overviewimage { background-image: url(../images/laptop-with-ui-mouseout.png); height: 225px; width: 420px; margin: 0 auto; cursor: pointer; }
#overviewimage:hover { background-image: url(../images/laptop-with-ui-mouseover.png); }
.help-pages { background-color: #DBDFE8; color: #58595b; }
.container { width: 1190px; margin: 0 auto; padding-left: 40px; padding-right: 40px; }

.text-bold { font-weight: 600 }
.bg-theme { background-color: #0057C1 }
.padding-tb-20 { padding-top: 20px; padding-bottom: 20px; }
.padding-tb-40 { padding-top: 40px; padding-bottom: 40px; }
.mx-auto { margin-left: auto; margin-right: auto }
.text-center { text-align: center }
.m-0 { margin: 0; }
.m-3 { margin: 1rem 1rem; }
.my-3{ margin-top: 1rem; margin-bottom: 1rem; }
.mx-auto{ margin-left:auto !important; margin-right:auto !important}
.full-section { float: left; width: 100%; }
